[user]
	email = arkanus@gmail.com
	name = Marcos

[push]
  default = upstream

[pull]
  rebase = true

[fetch]
  all = true
  prune = true

[url "git@github.com:"]
	insteadOf = https://github.com/

[core]
  # only use full scren less on big texts
  pager = less -F -X
