[Unit]
Description=Start tmux in detached session
After=gnome-keyring-daemon.service

[Service]
Type=forking
; this is only needed if this file is on /etc/systemd/system/
; User=%I
ExecStart=/usr/bin/tmux new-session -s 🍉 -c $HOME -d
ExecStop=/usr/bin/tmux kill-session -t 🍉

[Install]
WantedBy=gnome-session.target
