[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
; this is only needed if this file is on /etc/systemd/system/
; User=%I
ExecStart=/usr/bin/tmux new-session -s $USER -c $HOME -d
ExecStop=/usr/bin/tmux kill-session -t $USER

[Install]
WantedBy=gnome-session.target
